.main {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 100%;
}

.main.not-grid {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: 45%;
  left: 45%;
  border-radius: 50%;
  border: 2vw solid transparent;
  border-top: 2vw solid rgb(104, 212, 255);
  border-left: 2vw solid rgb(104, 212, 255);
  border-right: 2vw solid rgb(104, 212, 255);
  z-index: 1;
  animation: loading 2s linear infinite;
}

.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  filter: brightness(83%);
}

.card:hover {
  box-shadow: 0px 0px 10px 5px rgb(102, 102, 102);
}

.name {
  z-index: 1;
  color: white;
}

.id {
  z-index: 1;
  position: absolute;
  right: 10%;
  top: 10%;
  color: rgb(88, 88, 88);
}

.types {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 80%;
  height: 60px;
  z-index: 1;
}

.type {
  display: grid;
  place-items: center;
  text-align: center;
  width: fit-content;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
  border-top-right-radius: 10px;
  border-radius: 10px;
  margin-bottom: 7%;
}

.sprite {
  width: 60%;
  height: 60%;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 425px) {
  .main {
    grid-template-columns: 1fr;
  }

  .card {
    width: 80vw;
    height: 80vw;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}