.panel {
  border-radius: 10px;
  margin: auto;
  width: 70%;
  background-color: rgb(129, 53, 53);
}

.container {
  display: flex;
  flex-direction: column;
}

.header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.return {
  margin: 20px 0 0 20px;
  color: white;
  width: max-content;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.large-name {
  width: max-content;
  color: white;
  font-size: 56px;
  margin: 0;
  margin-bottom: 10px;
  z-index: 1;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 20px;
  height: min-content;
}

.small-box {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.box .types {
  margin-left: 8%;
  position: relative;
  display: flex;
  width: 30%;
}

.box .type {
  padding: 10px;
  border-radius: 20px;
  margin-right: 20px;
}

.header-content .id {
  position: initial;
  margin-left: auto;
  margin-right: 8%;
  color: white;
  font-size: 24px;
}

.large-sprite {
  position: relative;
  top: -20vh;
  align-self: center;
  width: 40vw;
}

@media (max-width: 768px) {
  .large-name {
    font-size: 36px;
  }

  .box .type {
    height: 30px;
    padding: 5px;
  }

  .box .id {
    margin-top: 0;
  }

  .large-sprite {
    top: -15vh;
  }
}

@media (max-width: 425px) {
  .panel {
    width: 100%;
  }

  .large-name {
    font-size: 26px;
  }

  .box .type {
    height: 20px;
    padding: 2px;
  }
}